<?xml version="1.0" ?>
<robot name="bottle">
  <link name="world"/>
  <joint name="bottle_to_world" type="fixed">
    <parent link="world"/>
    <child link="bottle"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <link name="bottle">
    <contact>
      <rolling_friction value="0.001"/>
      <spinning_friction value="0.001"/>
      <restitution value="0.9"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <!--        <mass value="${3.14159 * radius * radius * height}"/>-->
      <mass value="10"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://objects_description/meshes/visual/bottle.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="blue">
        <color rgba="0.1 0.8 1 0.8"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
		<!--cylinder length="0.18" radius="0.03"/-->
		<cylinder length="18" radius="3"/>
      </geometry>
    </collision>
  </link>
</robot>